main {
    max-width: 1400px;
    margin: 0 auto;
    font-family:'Arial', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background-color: #c3c3c3; 
    border: 1px solid #cecece;
    padding: 8px 12px;
    margin: 4px; 
}
button:hover {
    background-color: #b3b3b3; 
}

.color-block {
    width: 100%; 
    height: 10px; 
}

.artwork-grid {
    display: flex;
    flex-flow:wrap;
    justify-content: center; 
}