:root {
    --primary-text: #333;
    --secondary-text: #666;
    --background-color: #fff;
    --favorite-active: #ff0015;
    --favorite-inactive: #f5f5f5;
    --status-on-view: #039a00;
    --status-off-view: #b4b4b4;
}



.art-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: calc(25% - 16px);
    height: auto;  
    margin: 8px;
    background-color: var(--background-color);
}

.card-img {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;     
    flex-shrink: 0;    
    padding: 16px;
    overflow: hidden;
}

.card-img img {
    max-width: 100%;
    max-height: 100%;   
    width: auto;
    height: auto;
    object-fit: contain;
}

.card-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;   
    padding: 16px 8px;
    overflow: hidden;   
}

.card-info h2 {
    color: var(--primary-text);
}

.card-info p {
    color: var(--secondary-text);
}

.favorite-btn {
    position: absolute;
    bottom: 8px; 
    right: 8px;
    z-index: 1;
    font-size: 20px;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 40px;
    border: 0.5px solid #e0e0e04b;
    background-color: #00000080;
}

.favorite-btn:hover {
    background-color: #000000a0;
}

.favorite-btn.active {
    color: var(--favorite-active);
}

.favorite-btn.inactive {
    color: var(--favorite-inactive); 
}



.status {
    display: block;
    padding: 4px 8px; 
    border: 1px solid var(--status-off-view);
    width: fit-content; 
    background-color: white; 
}

.status p {
    display: inline; 
}

.view-status.true {
    color: var(--status-on-view);
}

.view-status.false {
    color: var(--status-off-view);
}



@media (max-width: 800px) { 
    .art-card {
        width: calc(33% - 16px);
    }
}

@media (max-width: 600px) { 
    .art-card {
        width: calc(50% - 16px);
    }
}

@media (max-width: 390px) { 
    .art-card {
        width: 100%; 
    }
}
