.artpage {
    max-width: 1200px; 
    box-sizing: border-box;
    margin: 40px auto; 
    padding: 40px; 
    border: solid #eee 1px; 
}

.content {
    display: flex;
    flex-direction: row; 
}

.art-img {
    width: 60%; 
}

.art-img img {
    display: block; 
    margin: auto; 
    width: 100%; 
    border: solid #eee 1px; 
}

.art-info {
    padding: 24px; 
}
