.artpage {
    max-width: 1400px; 
    box-sizing: border-box;
    margin: 40px auto; 
    padding: 40px; 
}

.content {
    display: flex;
    flex-direction: row; 
}

.art-img {
    position: sticky; 
    max-width: 60%; 

}

.art-img img {
    box-sizing: border-box;
    display: block; 
    margin: auto; 
    width: 100%; 
    padding: 0px 16px; 
}

.art-info {
    box-sizing: border-box; 
    max-width: 40%; 
    padding: 0 16px; 
    border-left: 0.5px solid var(--secondary-text);
}

.art-data p {
    padding-bottom: 8px; 
    border-bottom: 0.5px solid #dadada; 
}

.art-info div {
    margin-bottom: 32px;
}