nav {
    display: flex; 
    justify-content: space-between; 
    text-align: center; 
    background-color: #f4f4f4;
    padding: 8px; 
    border-bottom: #e0e0e0 solid 1px; 
    top: 0;
}

a {
    color: black;
    text-decoration: none; 
}